@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

html,
body {
	height: 100%;
	font-family: 'Bungee Inline', sans-serif;
}

#root {
	height: 100%;
}
